extends ../layout

block content
  h1 Albums

  a(href="/albums/new") New Album

  table
      thead
        tr
          th ID
          th Name

      tbody
        for album in allAlbums
          tr
            td= album.id
            td= album.name
            td
              a(href='/albums/' + album.id)= album.name
