extends ../layout

block content
  h1= theAlbum.name

  a(href="/albums/" + theAlbum.id + '/update') Edit
  
<!--
a(href = )
form(action='/albums/' + theAlbum.id + '/update?_method=put' method="post") -->
