extends ../layout

block content
  h1= theAlbum.name

  a(href="/albums/" + theAlbum.id + '/update') Edit

  form(action='/albums/' + theAlbum.id + '?_method=delete' method="POST")
    div
      button(type="submit" value="Delete") Delete
