extends ../layout

block content
  h1 Update Album

  form(action='/albums/' + theAlbum.id + '/update?_method=put' method="post")
    div
      div Artist
        input(type="text" name="album_artist" value= theAlbum.artist)

      div Album Name
        input(type="text" name="album_name" value= theAlbum.name)

      div
        label Genre
          select(type="select" name="album_genre")
            option(value="jazz" selected= "jazz"===theAlbum.genre) Jazz
            option(value="classical" selected= "classical"===theAlbum.genre) Classical

      div
        label Stars
          br
          span 1
          input(type="radio" name="album_stars" value=1 checked= 1===theAlbum.stars)
          input(type="radio" name="album_stars" value=2 checked= 2===theAlbum.stars)
          input(type="radio" name="album_stars" value=3 checked= 3===theAlbum.stars)
          input(type="radio" name="album_stars" value=4 checked= 4===theAlbum.stars)
          input(type="radio" name="album_stars" value=5 checked= 5===theAlbum.stars)
          span  5

      div
          input(type="checkbox" name="explicit" checked= true===theAlbum.explicit)
          span Contains Explicit Lyrics

    div
      input(type="submit")
